<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WebCamp 2014 submissions</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.1.1/united/bootstrap.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <style>
        dt { margin-top:5px }
        .nowrap { white-space: nowrap }
        th.header { cursor: pointer }
    </style>
</head>
<body>
    <div class="container">
        {% include 'includes/navbar.twig' %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/static/jquery.tablesorter.min.js"></script>

    <script>
        function rate_talk(talk_id, score)
        {
            var url = "/talks/" + talk_id + "/rate/" + score;

            $.getJSON(url, function(data) {
                $talk = $('.talk[data-talk-id="' + talk_id + '"]');

                // Round to 3 decimals
                avg_score = Math.round(data.avg_score * 1000) / 1000;

                $talk.find('.avg-score').html(avg_score);
                $talk.find('.votes').html(data.votes);
                $talk.find('.current-user-vote').html(data.score);
                $talk.find('button[data-rating]').attr('class', 'btn btn-sm btn-default');
                $talk.find('button[data-rating="' +  data.score +'"]').attr('class', 'btn btn-sm btn-primary');
            });
        }

        function unrate_talk(talk_id)
        {
            var url = "/talks/" + talk_id + "/unrate";
            $.getJSON(url, function(data) {
                $talk = $('.talk[data-talk-id="' + talk_id + '"]');

                // Round to 3 decimals
                avg_score = Math.round(data.avg_score * 1000) / 1000;

                $talk.find('.avg-score').html(avg_score);
                $talk.find('.votes').html(data.votes);
                $talk.find('.current-user-vote').html('-');
                $talk.find('button[data-rating]').attr('class', 'btn btn-sm btn-default');
            });
        }

        // Attach click event handlers to rating buttons
        $(document).ready(function () {
            $('.rate-talk').click(function() {
                rate_talk(
                    $(this).data('talk-id'),
                    $(this).data('rating')
                );
            });
            $('.unrate-talk').click(function() {
                unrate_talk(
                    $(this).data('talk-id')
                );
            });
        });
    </script>

    {% block js %}
    {% endblock %}
</body>
</html>
