<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WebCamp 2014 submissions</title>

    <link href="/static/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootswatch/united/3.2.0/bootstrap.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <style>
        dt { margin-top:5px }
        .nowrap { white-space: nowrap }
        th.header { cursor: pointer }
    </style>
</head>
<body>
    <div class="container">
        {% include 'includes/navbar.twig' %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    <script src="/static/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/static/jquery.tablesorter.min.js"></script>

    <script>
        function rate_talk(talk_id, score) {
            var url = "/talks/" + talk_id + "/rate/" + score;

            $.getJSON(url, function(data) {
                var $talk = $('.talk[data-talk-id="' + talk_id + '"]');

                // Round to 3 decimals
                var avg_score = Math.round(data.avg_score * 1000) / 1000;

                $talk.find('.avg-score').html(avg_score);
                $talk.find('.votes').html(data.votes);
                $talk.find('.current-user-vote').html(data.score);
                $talk.find('button[data-rating]').attr('class', 'btn btn-sm btn-default');
                $talk.find('button[data-rating="' +  data.score +'"]').attr('class', 'btn btn-sm btn-primary');
            });
        }

        function unrate_talk(talk_id) {
            var url = "/talks/" + talk_id + "/unrate";

            $.getJSON(url, function(data) {
                var $talk = $('.talk[data-talk-id="' + talk_id + '"]');

                // Round to 3 decimals
                var avg_score = Math.round(data.avg_score * 1000) / 1000;

                $talk.find('.avg-score').html(avg_score);
                $talk.find('.votes').html(data.votes);
                $talk.find('.current-user-vote').html('-');
                $talk.find('button[data-rating]').attr('class', 'btn btn-sm btn-default');
            });
        }

        function change_status(talk_id, status) {
            var url = "/talks/" + talk_id + "/status/" + status;

            $.getJSON(url, function(data) {
                var $talk = $('.talk[data-talk-id="' + talk_id + '"]');
                var $button = $talk.find('button[data-action="change-status"]');

                $talk.find('.status').html(status);

                if (status == 'accepted') {
                    $talk.addClass('success');
                    $button.attr('class', 'btn btn-sm btn-success');
                    $button.data('status', 'pending');
                } else {
                    $talk.removeClass('success');
                    $button.attr('class', 'btn btn-sm btn-default');
                    $button.data('status', 'accepted');
                }
            });
        }

        // Attach click event handlers to rating buttons
        $(document).ready(function () {
            $('.rate-talk').click(function() {
                rate_talk(
                    $(this).data('talk-id'),
                    $(this).data('rating')
                );
            });

            $('.unrate-talk').click(function() {
                unrate_talk(
                    $(this).data('talk-id')
                );
            });

            $('*[data-action="change-status"]').click(function() {
                change_status(
                    $(this).data('talk-id'),
                    $(this).data('status')
                );
            });
        });
    </script>

    {% block js %}
        {# Additional javascript can go here #}
    {% endblock %}
</body>
</html>
