{% extends 'base.twig' %}

{% block content %}

    <h1>Voting statistics</h1>

    <h3>Votes cast</h3>

    <p>Total number of votes cast per user group.</p>

    <div id="vote-counts"></div>


    <h3>Average vote</h3>

    <p>The average score given per user group.</p>

    <div id="average-vote"></div>


    <h3>Score distribution</h3>

    <p>How many times was each score given per user group.</p>

    <div id="score-distribution"></div>


    <h3>User group (dis)agreement</h3>

    <p>Displays sum of absoulte difference in scores for all talks between groups.</p>
    <p>The higher the number, the higher user disagreement.</p>

    <div id="user-agreement"></div>

{% endblock %}

{% block js %}
    <script src="//code.highcharts.com/highcharts.js"></script>
    <script src="//code.highcharts.com/themes/grid.js"></script>
    <script src="//code.highcharts.com/modules/heatmap.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#vote-counts').highcharts(
                {{ charts.vote_counts|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
            );

            $('#average-vote').highcharts(
                {{ charts.average_vote|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
            );

            $('#score-distribution').highcharts(
                {{ charts.score_distribution|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
            );


            $('#user-agreement').highcharts(
                {{ charts.user_agreement|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}
            );
        });
    </script>
{% endblock %}
